/** Border Radius */
:root {
  --rounded-1: 0.25rem;
  --rounded-2: 0.50rem;
}

.rounded-0 {
  border-radius: 0 !important;
}

.rounded, .rounded-1 {
  border-radius: var(--rounded-1) !important;
}

.rounded-2 {
  border-radius: var(--rounded-2) !important;
}

/** Border */
.border-dark {
  border-color: var(--dark) !important;
}

.border-light {
  border-color: var(--gray-80) !important;
}

.border {
  border-width: 1px;
  border-style: solid !important;
}

.border-top {
  border-top: 1px solid !important;
}

.border-right {
  border-right: 1px solid !important;
}

.border-bottom {
  border-bottom: 1px solid !important;
}

.border-left {
  border-left: 1px solid !important;
}

button, .btn {
  display: inline-block;
  background: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
  line-height: inherit;
  font-size: 1rem;
}

.btn {
  border-radius: 4px;
  padding: var(--spacing-1) var(--spacing-3);
}

button, .btn {
  font-size: 1rem;
}

.btn-primary, .hover-btn-primary:hover {
  background-color: var(--primary) !important;
  color: var(--primary-text);
}

.btn-primary:hover, .hover-btn-primary:hover {
  background-color: hsl(var(--primary-hue), var(--primary-saturation), calc(var(--primary-lightness) - 10%)) !important;
}

.btn-primary-dark, .hover-btn-primary-dark:hover {
  background-color: var(--primary-dark) !important;
  color: var(--primary-dark-text);
}

.btn-primary-dark:hover, .hover-btn-primary-dark:hover {
  background-color: hsl(var(--primary-dark-hue), var(--primary-dark-saturation), calc(var(--primary-dark-lightness) - 10%)) !important;
}

.btn-primary-light, .hover-btn-primary-light:hover {
  background-color: var(--primary-light) !important;
  color: var(--primary-light-text);
}

.btn-primary-light:hover, .hover-btn-primary-light:hover {
  background-color: hsl(var(--primary-light-hue), var(--primary-light-saturation), calc(var(--primary-light-lightness) - 10%)) !important;
}

.btn-secondary, .hover-btn-secondary:hover {
  background-color: var(--secondary) !important;
  color: var(--secondary-text);
}

.btn-secondary:hover, .hover-btn-secondary:hover {
  background-color: hsl(var(--secondary-hue), var(--secondary-saturation), calc(var(--secondary-lightness) - 10%)) !important;
}

.btn-secondary-dark, .hover-btn-secondary-dark:hover {
  background-color: var(--secondary-dark) !important;
  color: var(--secondary-dark-text);
}

.btn-secondary-dark:hover, .hover-btn-secondary-dark:hover {
  background-color: hsl(var(--secondary-dark-hue), var(--secondary-dark-saturation), calc(var(--secondary-dark-lightness) - 10%)) !important;
}

.btn-outline-primary {
  background-color: inherit;
  border-color: var(--primary);
}

.btn-group, .btn-group-vertical {
  display: inline-flex;
}
.btn-group .btn, .btn-group-vertical .btn {
  border-radius: 0;
}

.btn-group {
  align-items: center;
}
.btn-group .btn:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.btn-group .btn:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.btn-group-vertical {
  flex-direction: column;
}
.btn-group-vertical .btn:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.btn-group-vertical .btn:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.btn-group .btn-group-header {
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
}

.btn-sm {
  font-size: 0.8rem;
}

.btn-lg {
  font-size: 1.2rem;
  padding: var(--spacing-2) var(--spacing-3);
}

:root {
  --gray-5: hsl(0, 0%, 5%);
  --gray-10: hsl(0, 0%, 10%);
  --gray-15: hsl(0, 0%, 15%);
  --gray-20: hsl(0, 0%, 20%);
  --gray-25: hsl(0, 0%, 25%);
  --gray-30: hsl(0, 0%, 30%);
  --gray-35: hsl(0, 0%, 35%);
  --gray-40: hsl(0, 0%, 40%);
  --gray-45: hsl(0, 0%, 45%);
  --gray-50: hsl(0, 0%, 50%);
  --gray-55: hsl(0, 0%, 55%);
  --gray-60: hsl(0, 0%, 60%);
  --gray-65: hsl(0, 0%, 65%);
  --gray-70: hsl(0, 0%, 70%);
  --gray-75: hsl(0, 0%, 75%);
  --gray-80: hsl(0, 0%, 80%);
  --gray-85: hsl(0, 0%, 85%);
  --gray-90: hsl(0, 0%, 90%);
  --gray-95: hsl(0, 0%, 95%);
}

:root {
  --primary: #0388F5;
  --primary-hue: 207.0247933884deg;
  --primary-saturation: 97.5806451613%;
  --primary-lightness: 48.6274509804%;
  --primary-text: var(--white);
  --primary-dark: #005EAB;
  --primary-dark-hue: 207.0175438596deg;
  --primary-dark-saturation: 100%;
  --primary-dark-lightness: 33.5294117647%;
  --primary-dark-text: var(--white);
  --primary-light: #80C6FF;
  --primary-light-hue: 206.9291338583deg;
  --primary-light-saturation: 100%;
  --primary-light-lightness: 75.0980392157%;
  --primary-light-text: var(--black);
  --secondary: #F59602;
  --secondary-hue: 36.5432098765deg;
  --secondary-saturation: 98.3805668016%;
  --secondary-lightness: 48.431372549%;
  --secondary-text: var(--white);
  --secondary-dark: #A86701;
  --secondary-dark-hue: 36.6467065868deg;
  --secondary-dark-saturation: 98.8165680473%;
  --secondary-dark-lightness: 33.137254902%;
  --secondary-dark-text: var(--white);
  --black: #000000;
  --black-hue: 0deg;
  --black-saturation: 0%;
  --black-lightness: 0%;
  --black-text: var(--white);
  --white: #ffffff;
  --white-hue: 0deg;
  --white-saturation: 0%;
  --white-lightness: 100%;
  --white-text: var(--black);
}

:root {
  --dark: var(--gray-5);
}

/** || Backgrounds */
.bg-gray-5 {
  background-color: var(--gray-5);
}

.bg-gray-10 {
  background-color: var(--gray-10);
}

.bg-gray-15 {
  background-color: var(--gray-15);
}

.bg-gray-20 {
  background-color: var(--gray-20);
}

.bg-gray-25 {
  background-color: var(--gray-25);
}

.bg-gray-30 {
  background-color: var(--gray-30);
}

.bg-gray-35 {
  background-color: var(--gray-35);
}

.bg-gray-40 {
  background-color: var(--gray-40);
}

.bg-gray-45 {
  background-color: var(--gray-45);
}

.bg-gray-50 {
  background-color: var(--gray-50);
}

.bg-gray-55 {
  background-color: var(--gray-55);
}

.bg-gray-60 {
  background-color: var(--gray-60);
}

.bg-gray-65 {
  background-color: var(--gray-65);
}

.bg-gray-70 {
  background-color: var(--gray-70);
}

.bg-gray-75 {
  background-color: var(--gray-75);
}

.bg-gray-80 {
  background-color: var(--gray-80);
}

.bg-gray-85 {
  background-color: var(--gray-85);
}

.bg-gray-90 {
  background-color: var(--gray-90);
}

.bg-gray-95 {
  background-color: var(--gray-95);
}

.hover-bg-primary:hover {
  background-color: #0388F5 !important;
}

.hover-bg-primary-dark:hover {
  background-color: #005EAB !important;
}

.hover-bg-primary-light:hover {
  background-color: #80C6FF !important;
}

.hover-bg-secondary:hover {
  background-color: #F59602 !important;
}

.hover-bg-secondary-dark:hover {
  background-color: #A86701 !important;
}

.hover-bg-black:hover {
  background-color: #000000 !important;
}

.hover-bg-white:hover {
  background-color: #ffffff !important;
}

/** || Text */
.text-primary {
  color: #0388F5 !important;
}

.text-primary-dark {
  color: #005EAB !important;
}

.text-primary-light {
  color: #80C6FF !important;
}

.text-secondary {
  color: #F59602 !important;
}

.text-secondary-dark {
  color: #A86701 !important;
}

.text-black {
  color: #000000 !important;
}

.text-white {
  color: #ffffff !important;
}

.inline-flex {
  display: inline-flex !important;
}

.flex, .flex-col, .flex-row {
  display: flex !important;
}

.flex-col {
  flex-direction: column !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-grow {
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.justify-end {
  justify-content: end !important;
}

.justify-flex-end {
  justify-content: flex-end !important;
}

.justify-space-between {
  justify-content: space-between !important;
}

.justify-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-bold, .hover-fw-bold:hover {
  font-weight: bold !important;
}

.text-xs {
  font-size: 0.8rem !important;
}

.text-sm {
  font-size: 0.9rem !important;
}

.text-md {
  font-size: 1rem !important;
}

.text-ml {
  font-size: 1.125rem !important;
}

.text-lg {
  font-size: 1.25rem !important;
}

.text-xl {
  font-size: 1.5rem !important;
}

.text-xxl {
  font-size: 2rem !important;
}

.fst-normal {
  font-style: normal !important;
}

.fst-italic {
  font-style: italic !important;
}

.fst-oblique {
  font-style: oblique !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.ws-nowrap {
  white-space: nowrap;
}

input, textarea {
  background-color: var(--input-bg);
  border-radius: var(--input-border-radius, var(--rounded-1));
  color: var(--input-color, inherit);
  font-family: inherit;
  font-size: inherit;
}

input {
  border: none;
  padding: var(--spacing-1) var(--spacing-2);
  line-height: inherit;
}

/** Group form inputs together */
.input-group {
  display: flex;
  align-items: center;
}
.input-group label + input {
  margin-left: var(--spacing-1);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
}

/** Header font sizes stolen from Bootstrap */
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

:root {
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 1rem;
  --spacing-4: 2rem;
  --spacing-5: 4rem;
  --spacing-6: 8rem;
  --spacing-7: 16rem;
}

.mt-auto, .my-auto {
  margin-top: auto !important;
}

.pt-auto, .py-auto {
  padding-top: auto !important;
}

.mt-0, .my-0 {
  margin-top: 0 !important;
}

.pt-0, .py-0 {
  padding-top: 0 !important;
}

.mt-0, .my-0 {
  margin-top: var(--spacing-0) !important;
}

.pt-0, .py-0 {
  padding-top: var(--spacing-0) !important;
}

.mt-1, .my-1 {
  margin-top: var(--spacing-1) !important;
}

.pt-1, .py-1 {
  padding-top: var(--spacing-1) !important;
}

.mt-2, .my-2 {
  margin-top: var(--spacing-2) !important;
}

.pt-2, .py-2 {
  padding-top: var(--spacing-2) !important;
}

.mt-3, .my-3 {
  margin-top: var(--spacing-3) !important;
}

.pt-3, .py-3 {
  padding-top: var(--spacing-3) !important;
}

.mt-4, .my-4 {
  margin-top: var(--spacing-4) !important;
}

.pt-4, .py-4 {
  padding-top: var(--spacing-4) !important;
}

.mt-5, .my-5 {
  margin-top: var(--spacing-5) !important;
}

.pt-5, .py-5 {
  padding-top: var(--spacing-5) !important;
}

.mt-6, .my-6 {
  margin-top: var(--spacing-6) !important;
}

.pt-6, .py-6 {
  padding-top: var(--spacing-6) !important;
}

.mt-7, .my-7 {
  margin-top: var(--spacing-7) !important;
}

.pt-7, .py-7 {
  padding-top: var(--spacing-7) !important;
}

.mr-auto, .mx-auto {
  margin-right: auto !important;
}

.pr-auto, .px-auto {
  padding-right: auto !important;
}

.mr-0, .mx-0 {
  margin-right: 0 !important;
}

.pr-0, .px-0 {
  padding-right: 0 !important;
}

.mr-0, .mx-0 {
  margin-right: var(--spacing-0) !important;
}

.pr-0, .px-0 {
  padding-right: var(--spacing-0) !important;
}

.mr-1, .mx-1 {
  margin-right: var(--spacing-1) !important;
}

.pr-1, .px-1 {
  padding-right: var(--spacing-1) !important;
}

.mr-2, .mx-2 {
  margin-right: var(--spacing-2) !important;
}

.pr-2, .px-2 {
  padding-right: var(--spacing-2) !important;
}

.mr-3, .mx-3 {
  margin-right: var(--spacing-3) !important;
}

.pr-3, .px-3 {
  padding-right: var(--spacing-3) !important;
}

.mr-4, .mx-4 {
  margin-right: var(--spacing-4) !important;
}

.pr-4, .px-4 {
  padding-right: var(--spacing-4) !important;
}

.mr-5, .mx-5 {
  margin-right: var(--spacing-5) !important;
}

.pr-5, .px-5 {
  padding-right: var(--spacing-5) !important;
}

.mr-6, .mx-6 {
  margin-right: var(--spacing-6) !important;
}

.pr-6, .px-6 {
  padding-right: var(--spacing-6) !important;
}

.mr-7, .mx-7 {
  margin-right: var(--spacing-7) !important;
}

.pr-7, .px-7 {
  padding-right: var(--spacing-7) !important;
}

.mb-auto, .my-auto {
  margin-bottom: auto !important;
}

.pb-auto, .py-auto {
  padding-bottom: auto !important;
}

.mb-0, .my-0 {
  margin-bottom: 0 !important;
}

.pb-0, .py-0 {
  padding-bottom: 0 !important;
}

.mb-0, .my-0 {
  margin-bottom: var(--spacing-0) !important;
}

.pb-0, .py-0 {
  padding-bottom: var(--spacing-0) !important;
}

.mb-1, .my-1 {
  margin-bottom: var(--spacing-1) !important;
}

.pb-1, .py-1 {
  padding-bottom: var(--spacing-1) !important;
}

.mb-2, .my-2 {
  margin-bottom: var(--spacing-2) !important;
}

.pb-2, .py-2 {
  padding-bottom: var(--spacing-2) !important;
}

.mb-3, .my-3 {
  margin-bottom: var(--spacing-3) !important;
}

.pb-3, .py-3 {
  padding-bottom: var(--spacing-3) !important;
}

.mb-4, .my-4 {
  margin-bottom: var(--spacing-4) !important;
}

.pb-4, .py-4 {
  padding-bottom: var(--spacing-4) !important;
}

.mb-5, .my-5 {
  margin-bottom: var(--spacing-5) !important;
}

.pb-5, .py-5 {
  padding-bottom: var(--spacing-5) !important;
}

.mb-6, .my-6 {
  margin-bottom: var(--spacing-6) !important;
}

.pb-6, .py-6 {
  padding-bottom: var(--spacing-6) !important;
}

.mb-7, .my-7 {
  margin-bottom: var(--spacing-7) !important;
}

.pb-7, .py-7 {
  padding-bottom: var(--spacing-7) !important;
}

.ml-auto, .mx-auto {
  margin-left: auto !important;
}

.pl-auto, .px-auto {
  padding-left: auto !important;
}

.ml-0, .mx-0 {
  margin-left: 0 !important;
}

.pl-0, .px-0 {
  padding-left: 0 !important;
}

.ml-0, .mx-0 {
  margin-left: var(--spacing-0) !important;
}

.pl-0, .px-0 {
  padding-left: var(--spacing-0) !important;
}

.ml-1, .mx-1 {
  margin-left: var(--spacing-1) !important;
}

.pl-1, .px-1 {
  padding-left: var(--spacing-1) !important;
}

.ml-2, .mx-2 {
  margin-left: var(--spacing-2) !important;
}

.pl-2, .px-2 {
  padding-left: var(--spacing-2) !important;
}

.ml-3, .mx-3 {
  margin-left: var(--spacing-3) !important;
}

.pl-3, .px-3 {
  padding-left: var(--spacing-3) !important;
}

.ml-4, .mx-4 {
  margin-left: var(--spacing-4) !important;
}

.pl-4, .px-4 {
  padding-left: var(--spacing-4) !important;
}

.ml-5, .mx-5 {
  margin-left: var(--spacing-5) !important;
}

.pl-5, .px-5 {
  padding-left: var(--spacing-5) !important;
}

.ml-6, .mx-6 {
  margin-left: var(--spacing-6) !important;
}

.pl-6, .px-6 {
  padding-left: var(--spacing-6) !important;
}

.ml-7, .mx-7 {
  margin-left: var(--spacing-7) !important;
}

.pl-7, .px-7 {
  padding-left: var(--spacing-7) !important;
}

.m-0 {
  margin: var(--spacing-0) !important;
}

.p-0 {
  padding: var(--spacing-0) !important;
}

.m-1 {
  margin: var(--spacing-1) !important;
}

.p-1 {
  padding: var(--spacing-1) !important;
}

.m-2 {
  margin: var(--spacing-2) !important;
}

.p-2 {
  padding: var(--spacing-2) !important;
}

.m-3 {
  margin: var(--spacing-3) !important;
}

.p-3 {
  padding: var(--spacing-3) !important;
}

.m-4 {
  margin: var(--spacing-4) !important;
}

.p-4 {
  padding: var(--spacing-4) !important;
}

.m-5 {
  margin: var(--spacing-5) !important;
}

.p-5 {
  padding: var(--spacing-5) !important;
}

.m-6 {
  margin: var(--spacing-6) !important;
}

.p-6 {
  padding: var(--spacing-6) !important;
}

.m-7 {
  margin: var(--spacing-7) !important;
}

.p-7 {
  padding: var(--spacing-7) !important;
}

.spaced-0 > * {
  margin-right: var(--spacing-0);
}

.spaced-1 > * {
  margin-right: var(--spacing-1);
}

.spaced-2 > * {
  margin-right: var(--spacing-2);
}

.spaced-3 > * {
  margin-right: var(--spacing-3);
}

.spaced-4 > * {
  margin-right: var(--spacing-4);
}

.spaced-5 > * {
  margin-right: var(--spacing-5);
}

.spaced-6 > * {
  margin-right: var(--spacing-6);
}

.spaced-7 > * {
  margin-right: var(--spacing-7);
}

table.bordered {
  border: 1px solid var(--table-border-color);
  border-collapse: collapse;
}
table.bordered td, table.bordered th {
  border: 1px solid var(--table-border-color);
}

/** Display */
.block {
  display: block;
}

/** Position */
.sticky {
  position: sticky;
}

.flush-top {
  top: 0px;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.flex-grow-3 {
  flex-grow: 3;
}

/** Overflow */
.overflow-auto {
  overflow: auto !important;
}

.overflow-x-auto {
  overflow-x: auto !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

/** Vertical Align */
.valign-top {
  vertical-align: top;
}

.valign-middle {
  vertical-align: middle;
}

.valign-bottom {
  vertical-align: bottom;
}

/** Width & Height */
.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a, input {
  color: inherit;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: var(--spacing-2);
}

ul {
  padding: 0 0 0 var(--spacing-4);
  margin-top: 0;
  margin-bottom: var(--spacing-2);
}

/** Custom Quill Elements */
.internal-link {
  color: var(--primary-light);
  text-decoration: underline;
}

/** Lists */
.menu-list {
  border: 1px solid var(--gray-50);
  border-radius: 0.25rem;
  list-style-type: none;
}
.menu-list li > a, .menu-list li > button {
  border-radius: 0;
  text-align: left;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
